@page "/Sobre"

<PageTitle>Sobre</PageTitle>
<div>
	<img src="{$GET_TEMA}/../media/Banner-sobre.jpg"
		 alt="Imagem responsiva" width="100%" height="500px" />
</div>

<br />

<br />
<br />
<div class="container">
	<!-- Example row of columns -->
	@* {foreach from=$SOBRE item=S} *@
	<div class="row">
		<div class="col-md-12">
			<h2 class="text-center">Título</h2>

			<img class="bd-placeholder-img rounded mx-auto d-block" width="300" height="300"
				 src="{$S.img}" alt="Imagem sobre a história"
				 preserveAspectRatio="xMidYMid slice" focusable="false" role="img" />
			<br /><br />
			<p>Informações</p>
			<hr style="border: 5px solid #483D8B;
						border-radius: 5px;">
		</div>
	</div>
	@* {/foreach} *@

</div> <!-- /container -->
<br />
<br />

@code {

}
