<hr />
<div class="blog-footer">
    <div class="container">
        <h4 class="display-8">Nossas Redes Sociais.</h4><br />
        <a href="https://pt-br.facebook.com/ieq.morrogrande" target="_blank"><img src="image/facebook.png" width="50" height="50" alt="..." class="rounded-circle"></a>
        <a href="https://www.instagram.com/ieqmorrograndeoficial/" target="_blank"><img src="image/instagram-icon.png" width="50" height="50" alt="..." class="rounded-circle"></a>
        <a href="http://www.youtube.com/channel/UC4TR30m61jWdz-D6ki7UpsQ" target="_blank"><img src="image/youtube.png" width="50" height="50" alt="..." class="rounded-circle"></a>
    </div>
    <br />
    <footer class="container">
        <p class="float-right"><a href="#">Voltar ao topo</a></p>
        @* <p>&copy; Igreja do Evangelho Quadrangular - Morro Grande, 1988-{$DATA2} &middot; <a href="#">Privacidade</a> &middot; <a href="#">Termos</a></p> *@
        <p>&copy; Igreja do Evangelho Quadrangular - Morro Grande, 1988-2024 </p>
        <p class="float-center">Desenvolvido por Ivo Oliveira <a href="https://www.soidesign.com.br" target="_blank"></a></p>
    </footer>
</div>

