<div class="container">
    <br />
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Informações sobre</h1>
            <p class="lead my-3">Grupo de Teste.</p>
            <p class="lead mb-0"><a href="#conteudo" class="text-white font-weight-bold">Clique aqui...</a></p>
        </div>
    </div>
    <main role="main" class="container" id="conteudo">
        <div class="row">
            <div class="col-md-12 blog-main">
                <h3 class="pb-4 mb-4 font-italic border-bottom">
                    Informações do Grupo
                </h3>

                <div class="blog-post">
                    <h2 class="blog-post-title">Grupo: </h2><h4>{$G.1.categoria}</h4>
                    <p class="blog-post-meta">Teste</p>

                    <p>{$G.1.descricao}</p>
                    <hr>

                </div><!-- /.blog-post -->

                <nav class="blog-pagination">
                    <a class="btn btn-outline-primary" href="{$VOLTAR}">Voltar</a>
                    @* {* <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a> *} *@
                </nav>

            </div><!-- /.blog-main -->
        </div><!-- /.row -->
    </main><!-- /.container -->
</div>

@code {

}
