.header-menu{
    background-color: #1aad72;
    color: #fff;
    font-size: 18px;
}
.espaco-topo{
    margin-top: 65px;
    color: #fff;
}
.logo-small {
    color: #1aad72;
    font-size: 50px;
}

.logo {
    color: #1aad72;
    font-size: 200px;
}